<div>
  <h3 id="tableName"><%= title %></h3>
  <table>
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th><%= amount %></th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
